<div class="p-3">

  <!-- General stats -->
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mb-6">
    <div class="bg-white p-4 shadow rounded-xl">
      <h3 class="text-sm text-gray-500">Total Projects</h3>
      <p class="text-xl font-bold text-primary">{{myProjectsCount}}</p>
    </div>
    <div class="bg-white p-4 shadow rounded-xl">
      <h3 class="text-sm text-gray-500">Available Resources</h3>
      <p class="text-xl font-bold text-primary">{{ AvailableResourceCount }}</p>
    </div>
    <div class="bg-white p-4 shadow rounded-xl">
      <h3 class="text-sm text-gray-500">Upcoming Reservations</h3>
      <p class="text-xl font-bold text-primary">{{ myFutureReservationsCount }}</p>
    </div>
  </div>

  <!-- Role-specific sections -->
  <div *ngIf="userRole === UserRole.Researcher">
    <app-research-dashboard></app-research-dashboard>
  </div>

  <div *ngIf="userRole === UserRole.Manager">
    <app-manager-dashboard></app-manager-dashboard>
  </div>

</div>
